{% extends "expensess/base.html" %}

{% block content %}
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			{% if user.is_authenticated %}	
				<form id="form" action="" method="GET">
					{{ form.key_word }}
					<button type="submit" class="btn btn-primary btn-lg">検索</button>
				</form>

				<thead>
					<tr>
						<th>作成者</th>
						<th>#</th>
						<th>日付</th>
						<th>カテゴリ</th>
						<th>金額</th>
						<th>メモ</th>
					</tr>
				</thead>
			{% else %}
				<h2>ようこそ「俺の家計簿！」へ。</h2>
				<h3>あなたの家計簿を作ることができるアプリです。まずはユーザー登録をしてツールを使えるように準備しましょう。</h3>
			{% endif %}

			{% for expense in expensess_list %}
				{% if user.is_authenticated %}
					{% if user.username == expense.author.username %}
						<tbody>
							<tr data-href="{% url 'expensess:expensess_detail' pk=expense.pk %}">
								<td>{{ expense.author }}</td>
								<td>{{ expense.number }}</td>
								<td>{{ expense.date }}</td>
								<td>{{ expense.category }}</td>
								<td>{{ expense.cost }}</td>
								<td>{{ expense.memo }}</td>
							</tr>
						</tbody>
					{% endif %}
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}











