<div>
	<h1><a href="/">俺の家計簿!</a></h1>
</div>

{% for expense in expensess %}
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>日付</th>
					<th>カテゴリ</th>
					<th>金額</th>
					<th>メモ</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ expense.number }}</td>
					<td>{{ expense.date }}</td>
					<td>{{ expense.category }}</td>
					<td>{{ expense.cost }}</td>
					<td>{{ expense.memo }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endfor %}