{% extends "expensess/base.html" %}

{% block content %}
	<div class="table-responsive">
		<table class="table table-striped table-sm">
			<thead>
				{% if user.is_authenticated %}
					<tr>
						<th>作成者</th>
						<th>#</th>
						<th>日付</th>
						<th>カテゴリ</th>
						<th>金額</th>
						<th>メモ</th>
					</tr>
				{% else %}
					<h2>ようこそ「俺の家計簿！」へ。</h2>
					<h3>あなたの家計簿を作ることができるアプリです。まずはユーザー登録をしてツールを使えるように準備しましょう。</h3>
				{% endif %}
			</thead>
			{% for expense in expensess %}
				{% if user.is_authenticated %}
					{% if user.username == expense.author.username %}
						<tbody>
							<tr>
								<td>{{ expense.author }}</td>
								<td><a href="{% url 'expensess:expensess_detail' pk=expense.pk %}">{{ expense.number }}</a></td>
								<td>{{ expense.date }}</td>
								<td>{{ expense.category }}</td>
								<td>{{ expense.cost }}</td>
								<td>{{ expense.memo }}</td>
							</tr>
						</tbody>
					{% endif %}
				{% endif %}
			{% endfor %}
		</table>
	</div>
{% endblock %}











